In [1]:
#importing neccessory libraries 

import numpy as np 
import pandas as pd 
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso

In [2]:
df=pd.read_csv("C:\\my_files\\word files\\Desktop\\sacremento.csv")

In [3]:
df

,city,zip,beds,baths,sqft,type,price,latitude,longitude
0,SACRAMENTO,z95838,2,1.0,836,Residential,59222,38.631913,-121.434879
1,SACRAMENTO,z95823,3,1.0,1167,Residential,68212,38.478902,-121.431028
2,SACRAMENTO,z95815,2,1.0,796,Residential,68880,38.618305,-121.443839
3,SACRAMENTO,z95815,2,1.0,852,Residential,69307,38.616835,-121.439146
4,SACRAMENTO,z95824,2,1.0,797,Residential,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...
927,SACRAMENTO,z95829,4,3.0,2280,Residential,232425,38.457679,-121.359620
928,SACRAMENTO,z95823,3,2.0,1477,Residential,234000,38.499893,-121.458890
929,CITRUS_HEIGHTS,z95610,3,2.0,1216,Residential,235000,38.708824,-121.256803
930,ELK_GROVE,z95758,4,2.0,1685,Residential,235301,38.417000,-121.397424
931,EL_DORADO_HILLS,z95762,3,2.0,1362,Residential,235738,38.655245,-121.075915

In [4]:
X=df.drop(['zip','city','price'],axis=1)

In [5]:
y=df['price']
y

0       59222
1       68212
2       68880
3       69307
4       81900
        ...
927    232425
928    234000
929    235000
930    235301
931    235738
Name: price, Length: 932, dtype: int64

In [6]:

X_dum=pd.get_dummies(X,drop_first=True)

In [7]:
X_dum

,beds,baths,sqft,latitude,longitude,type_Multi_Family,type_Residential
0,2,1.0,836,38.631913,-121.434879,False,True
1,3,1.0,1167,38.478902,-121.431028,False,True
2,2,1.0,796,38.618305,-121.443839,False,True
3,2,1.0,852,38.616835,-121.439146,False,True
4,2,1.0,797,38.519470,-121.435768,False,True
...,...,...,...,...,...,...,...
927,4,3.0,2280,38.457679,-121.359620,False,True
928,3,2.0,1477,38.499893,-121.458890,False,True
929,3,2.0,1216,38.708824,-121.256803,False,True
930,4,2.0,1685,38.417000,-121.397424,False,True
931,3,2.0,1362,38.655245,-121.075915,False,True

In [8]:
ls=Lasso()
params={'alpha':[0,0.1,1,1.5,2]}

In [9]:
import warnings 
warnings.filterwarnings("ignore")

In [10]:
kfold=KFold(n_splits=5,shuffle=True,random_state=23)
gcv=GridSearchCV(ls,param_grid=params,scoring='r2')
gcv.fit(X_dum,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 2}
0.5212978028366431

In [11]:
from sklearn.ensemble import RandomForestRegressor

In [12]:
rf=RandomForestRegressor()

In [13]:
print(rf.get_params())

{'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 1.0, 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}

In [14]:
#params={'n_estimators':[50,100],'max_depth':[None,2,4,6], 'max_features':[2,4,6],'min_samples_split':[2,3,4]}

In [15]:
params={'max_depth':[6],'min_samples_split':[6],'min_samples_leaf':[5],'n_estimators':[100]}

In [16]:
kfold=KFold(n_splits=5,shuffle=True,random_state=23)
gcv=GridSearchCV(rf,param_grid=params,scoring='r2')
gcv.fit(X_dum,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'max_depth': 6, 'min_samples_leaf': 5, 'min_samples_split': 6, 'n_estimators': 100}
0.5518405513161353

In [60]:
import sklearn

In [61]:
sklearn.__version__

'1.3.2'