In [1]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold 
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

import warnings
warnings.filterwarnings("ignore")

In [2]:
di=pd.read_csv("diabetes.csv")

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
di

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [4]:
label_encoder=LabelEncoder()

In [5]:
di['smoking_history']= label_encoder.fit_transform(di['smoking_history'])

In [6]:
di_dum=pd.get_dummies(di,drop_first=True)

In [8]:
di_dum.shape

(100000, 10)

In [9]:
di_dum.isnull().sum()

age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
gender_Male            0
gender_Other           0
dtype: int64

In [10]:
di_dum.head()

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Male,gender_Other
0,80.0,0,1,4,25.19,6.6,140,0,False,False
1,54.0,0,0,0,27.32,6.6,80,0,False,False
2,28.0,0,0,4,27.32,5.7,158,0,True,False
3,36.0,0,0,1,23.45,5.0,155,0,False,False
4,76.0,1,1,1,20.14,4.8,155,0,True,False

In [11]:
di_dum.tail()

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Male,gender_Other
99995,80.0,0,0,0,27.32,6.2,90,0,False,False
99996,2.0,0,0,0,17.37,6.5,100,0,False,False
99997,66.0,0,0,3,27.83,5.7,155,0,True,False
99998,24.0,0,0,4,35.42,4.0,100,0,False,False
99999,57.0,0,0,1,22.43,6.6,90,0,False,False

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X=di_dum.drop(['diabetes'],axis=1)

In [9]:
y=di_dum['diabetes']

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,stratify=y,random_state=23)

In [16]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(70000, 9)
(30000, 9)
(70000,)
(30000,)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
#logistic regression

lr=LogisticRegression()

lr.fit(X_train,y_train)
#training accuracy
y_train_pred=lr.predict(X_train)
#testing accuracy
y_pred=lr.predict(X_test)

print("Accuracy_score_train:",accuracy_score(y_train,y_train_pred))
print("Accuracy_score_test:",accuracy_score(y_test,y_pred))

Accuracy_score_train: 0.9592285714285714
Accuracy_score_test: 0.9583333333333334

In [11]:
from sklearn.svm import SVC

In [ ]:
#using linear  svc 
svm=SVC(kernel='linear')
svm.fit(X_train,y_train)
y_train_pred=svm.predict(X_train)   #for training data 
y_test_pred=svm.predict(X_test)    #for testing data 

print("Accuracy_score_train:",accuracy_score(y_train,y_train_pred)) 
print("Accuracy_score_test:",accuracy_score(y_test,y_test_pred))

In [ ]:
#using radial 
svm=SVC(kernel='rbf')
svm.fit(X_train,y_train)
y_train_pred=svm.predict(X_train)   #for training data 
y_test_pred-svm.predict(X_test)    #for testing data 

print("Accuracy_score_train:",accuracy_score(y_train,y_train_pred)) 
print("Accuracy_score_test:",accuracy_score(y_test,y_test_pred))

In [ ]:
#using radial 
svm=SVC(kernel='poly')
svm.fit(X_train,y_train)
y_train_pred=svm.predict(X_train)   #for training data 
y_test_pred-svm.predict(X_test)    #for testing data 

print("Accuracy_score_train:",accuracy_score(y_train,y_train_pred)) 
print("Accuracy_score_test:",accuracy_score(y_test,y_test_pred))

In [ ]:
#knn

from sklearn.neighbors import KNeighborsClassifier

nb=KNeighborsClassifier() 
nb.fit(X_train,y_train)


y_pred_train=nb.predict(X_train)            #predictions for training 
y_pred_test=nb.predict(X_test)

print("accuracy_score_train:",accuracy_score(y_train,y_pred_train))
print("accuracy_score_test:",accuracy_score(y_test,y_pred))

In [ ]:
#bayes-bernoulli

from sklearn.naive_bayes import BernoulliNB 

br=BernoulliNB()
br.fit(X_train,y_train)
y_pred_train=br.predict(X_train)
y_pred_test=br.predict(X_test)

print("accuracy_score_train:",accuracy_score(y_train,y_pred_train))
print("accuracy_score_test:",accuracy_score(y_test,y_pred_test))

In [ ]:
#decision tree 

from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(X_train,y_train)
y_pred_train=dtc.predict(X_train)
y_pred_test=dtc.predict(X_test)

print("accuracy_score_train:",accuracy_score(y_train,y_pred_train))
print("accuracy_score_test:",accuracy_score(y_test,y_pred_test))

In [ ]:
#hyperparameter tunning 
svm = SVC(kernel='linear')
params = {'C': np.linspace(0.0001, 10, 20)}
kfold = StratifiedKFold(n_splits=5, shuffle=True, 
                        random_state=23)
gcv = GridSearchCV(svm, param_grid=params,cv=kfold)
gcv.fit(X,y)

print(gcv.best_params_)
print(gcv.best_score_)