In [2]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold 
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
#from sklearn.ne

import warnings
warnings.filterwarnings("ignore")

In [2]:
bnk=pd.read_csv("bankloan.csv",index_col=0)

In [3]:
bnk

,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard
ID,,,,,,,,,,,,,
1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [4]:
bnk.shape

(5000, 13)

In [5]:
bnk.isnull().sum()

Age                   0
Experience            0
Income                0
ZIP.Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal.Loan         0
Securities.Account    0
CD.Account            0
Online                0
CreditCard            0
dtype: int64

In [6]:
X=bnk.drop(['Personal.Loan','ZIP.Code'],axis=1)

In [7]:
y=bnk['Personal.Loan']

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=23,stratify=y)

In [9]:
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

print("accuracy_score:",accuracy_score(y_test,y_pred))

accuracy_score: 0.9493333333333334

In [10]:
#training_accuracy_score

y_train_pred=lr.predict(X_train)
model_train_accuracy=accuracy_score(y_train,y_train_pred)
model_train_accuracy

0.9474285714285714

In [11]:
kfold=StratifiedKFold(n_splits=5,shuffle=True,random_state=23)
params={'penalty':['l1','l2','elasticnet'],'l1_ratio':np.linspace(0,1,5)}
gcv=GridSearchCV(lr,param_grid=params,cv=kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'l1_ratio': 0.0, 'penalty': 'l2'}
0.9474

In [12]:
svm=SVC(kernel='linear')
svm.fit(X_train,y_train)
y_pred=svm.predict(X_test)

print("accuracy_score:",accuracy_score(y_test,y_pred))

accuracy_score: 0.9533333333333334

In [13]:
#training accuracy 

svm=SVC(kernel='linear')
svm.fit(X_train,y_train)
y_train_pred=svm.predict(X_train)

print("accuracy_score:",accuracy_score(y_train,y_train_pred))

accuracy_score: 0.9534285714285714

In [14]:
#training accuracy 

svm=SVC(kernel='rbf')
svm.fit(X_train,y_train)
y_train_pred=svm.predict(X_train)

print("accuracy_score:",accuracy_score(y_train,y_train_pred))

accuracy_score: 0.91

In [15]:
#training accuracy 

svm=SVC(kernel='poly')
svm.fit(X_train,y_train)
y_train_pred=svm.predict(X_train)

print("accuracy_score:",accuracy_score(y_train,y_train_pred))

accuracy_score: 0.918

In [3]:

svm = SVC(kernel='linear')
params = {'C':[2,4,6,8]
          }
kfold = StratifiedKFold(n_splits=5, shuffle=True, 
                        random_state=23)

gcv = GridSearchCV(svm, param_grid=params,cv=kfold)
gcv.fit(X,y)

print(gcv.best_params_)
print(gcv.best_score_)

NameError: name 'X' is not defined