In [1]:
# import required libraries 
import pandas as pd 
from sklearn.impute import SimpleImputer

In [2]:
#create a synthetic dataframe 
data={'A':[1,2,None,4,5],
      'B':[10,None,30,40,50]}
df=pd.DataFrame(data)

In [3]:
df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [4]:
#use the simple imputer to fill the null values 
imputer=SimpleImputer(strategy='mean')

In [6]:
#transform the data according to imputer selected 
imp_df=pd.DataFrame(imputer.fit_transform(df),columns=df.columns)

In [7]:
imp_df

     A     B
0  1.0  10.0
1  2.0  32.5
2  3.0  30.0
3  4.0  40.0
4  5.0  50.0

In [11]:
#use the simple imputer to fill the null values 
imputer1=SimpleImputer(strategy='median')

In [12]:
#transform the data according to imputer selected 
imp_df1=pd.DataFrame(imputer1.fit_transform(df),columns=df.columns)

In [13]:
imp_df1

     A     B
0  1.0  10.0
1  2.0  35.0
2  3.0  30.0
3  4.0  40.0
4  5.0  50.0

In [14]:
#use the simple imputer to fill the null values 
imputer2=SimpleImputer(strategy='most_frequent')  #for mode we are using most_frequent

In [15]:
#transform the data according to imputer selected 
imp_df2=pd.DataFrame(imputer2.fit_transform(df),columns=df.columns)

In [16]:
imp_df2       #when dataset does not have any frequent datapoint then it take lowest value(by default)

     A     B
0  1.0  10.0
1  2.0  10.0
2  1.0  30.0
3  4.0  40.0
4  5.0  50.0

if strategy is not given by user --then its takes mean automatically

and value is not from mean.median and mode then